<h1 id="user-heading">Tara Siegel's Blog!</h1>

<!--<div id="user-table">
	<%= link_to 'New Post', new_post_path %><br>
	<%= link_to 'User Database', users_path %><br>
	<%= link_to 'Post Database', posts_path %>
</div>-->