/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	background-image: url('wild_flowers.png');
	background-size: auto;
	background-position: center;
	background-repeat: repeat;
}

.error-message {
	color: red;
}

#user-table {
	margin: 40px 20px;
}

#user-heading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 60px;
	color: #000000;
}

.post-style {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #ccc 100%);
	background: -webkit-gradient(linear, center top, center bottom, color-stop(0%,#fff), color-stop(100%,#ccc));
	background: -webkit-linear-gradient(top, #fff 0%,#ccc 100%);
	background: -o-linear-gradient(top, #fff 0%,#ccc 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 100%);
	background: linear-gradient(top, #fff 0%,#ccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
	border-radius: .6em;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	margin: 1em auto;
	padding: 1em;
	
}

.post-style img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#post-header {
	text-align: center;
}

#post-date {
	text-align: center;
}

.post-body {
}

